<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feibo.snacks"
    android:versionCode="13"
    android:versionName="2.2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    
    <uses-permission android:name="getui.permission.GetuiService.com.feibo.snacks" />

    <permission
        android:name="getui.permission.GetuiService.com.feibo.snacks"
        android:protectionLevel="normal" >
    </permission>

    <application
        tools:replace="android:theme"
        android:name="com.feibo.snacks.app.Snacks"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        
        <meta-data android:name="com.amap.api.v2.apikey" android:value="b6c1d626c2911ba566bc676b4ecaaca6" />
        
        <activity
            android:name=".view.module.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="feibo" android:host="snacks.app" android:pathPrefix="/openwith"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.feibo.snacks.view.module.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.module.person.orders.shoppingcart.CartActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".view.module.coupon.MyCouponActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.feibo.snacks.view.base.BaseSwitchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode = "stateAlwaysHidden|adjustResize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <activity
            android:name=".view.module.coupon.UsingCouponActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode = "stateAlwaysHidden|adjustResize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <activity
            android:name=".view.module.goods.goodsdetail.WebAcitivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--幸运抽奖-->

        <activity
            android:name=".view.module.GuideActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait" />
        <activity android:name=".view.module.person.orders.OrdersActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
           <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1103595250" />
            </intent-filter>
        </activity>
        <activity
            tools:replace="android:configChanges"
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            tools:replace="android:configChanges"
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data android:name="UMENG_APPKEY" android:value="549382acfd98c54f3e000eb8" />
        <meta-data android:name="UMENG_CHANNEL" android:value="${UMENG_CHANNEL_VALUE}" />


        <meta-data android:name="PUSH_APPID" android:value="ErJLCqAsll9sl9RglmBUm2" />
        <meta-data android:name="PUSH_APPKEY" android:value="Qj0l6ukcMp9OPn4XCsU1E1" />
        <meta-data android:name="PUSH_APPSECRET" android:value="x6yCVVYMDu9WVoG72W5JO3" />
        <meta-data android:name="PUSH_GROUPID" android:value="" />
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" >
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AppLauncherReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.feibo.snacks.AppLauncherReceiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>

                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <action android:name="com.igexin.sdk.action.ErJLCqAsll9sl9RglmBUm2" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.GexinReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.ErJLCqAsll9sl9RglmBUm2" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.feibo.snacks"
            android:process=":pushservice" />
        
        <activity android:name="com.alibaba.sdk.android.webview.BaseWebViewActivity"/>
        <activity android:name="com.alibaba.sdk.android.login.ui.LoginWebViewActivity"/>
        <activity android:name="com.alibaba.sdk.android.login.ui.QrLoginActivity"
            android:theme="@style/tae_sdk_login_qr_activity_style"/>
        <activity android:name="com.alibaba.sdk.android.trade.ui.TradeWebViewActivity">
            <intent-filter>
                <action android:name="COM_TAOBAO_TAE_SDK_TRADE_WEB_VIEW_ACTION"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>        
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:screenOrientation="behind">
        </activity>

        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        
    </application>

</manifest>